@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

$Mobile: 375px;
$Desktop: 1440px;

$Yellow: hsl(47, 88%, 63%);
$White: hsl(0, 0%, 100%);
$Gray500: hsl(0, 0%, 42%);
$Gray950: hsl(0, 0%, 7%);

html,
body {
  font-family: "Figtree", serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;

  height: 100%;
  width: 100%;
  margin: 0;
  background-color: $Yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  app-root{
    @media (max-width: 460px) {
      transform: scale(0.75);
    }
  }
}
